.organism-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  border-bottom: 1px solid $quill-gray;
  &__item {
    font-weight: 500;
    color: $light-black;
    &:hover {
      color: $yellow;
    }
    &--active {
      color: $dark-yellow !important;
    }
    p {
      margin-bottom: 0px;
    }
  }
}
