{
  "env": {
    "browser": true,
    "es2020": true
  },
  "extends": [
    "airbnb",
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 11,
    "sourceType": "module"
  },
  "plugins": ["react"],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx", ".tsx", ".ts"]
      }
    ],
    "react/no-array-index-key": 0,
    "react/prop-types": [
      "error",
      {
        "skipUndeclared": true
      }
    ],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "@typescript-eslint/explicit-function-return-type": "off"
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["@components", "./src/components"],
          ["@", "./src"]
        ],
        "extensions": [".ts", ".js", ".jsx", ".json", ".tsx"]
      }
      // "node": {
      //   "extensions": [".js", ".jsx", ".ts", ".tsx"]
      // }
    }
  },
  "overrides": [
    // Override some TypeScript rules just for .js files
    {
      "files": ["*.js"],
      "rules": {
        "@typescript-eslint/no-var-requires": "off" //
      }
    }
  ]
}
