@mixin primary-mixin($bg) {
  background-color: $bg;
  border: 1px solid $bg;
}

@mixin outline-mixin($border, $text) {
  border: 1px solid $border;
  color: $text;
}

.atom-tag {
  font-size: 12px;
  padding: 2px 8px;
  border-radius: 4px;
  color: $light-black;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  &--primary {
    @include primary-mixin($quill-gray);
    &.atom-tag--red {
      @include primary-mixin($light-red);
    }
    &.atom-tag--blue {
      @include primary-mixin($light-blue);
    }
    &.atom-tag--yellow {
      @include primary-mixin($light-yellow);
    }
  }
  &--outline {
    background-color: transparent;
    @include outline-mixin($quill-gray, $lighter-black);
    &.atom-tag--red {
      @include outline-mixin($light-red, $red);
    }
    &.atom-tag--blue {
      @include outline-mixin($light-blue, $blue);
    }
    &.atom-tag--yellow {
      @include outline-mixin($light-yellow, $yellow);
    }
  }
}
