.colors {
  padding: 20px 0;
  margin: -24px 0 0 -24px;
  width: calc(100% + 24px);
  &__item {
    flex: 0 1 calc((100% / 4) - 24px);
    margin: 24px 0 0 24px;
    @include breakpoint-down(lg) {
      flex: 0 1 calc((100% / 3) - 24px);
    }
    @include breakpoint-down(md) {
      flex: 0 1 calc((100% / 2) - 24px);
    }
    @include breakpoint-down(sm) {
      flex: 0 1 100%;
    }
  }
}
