.organism-mobile-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $spring-wood;
  border-top: 1px solid $quill-gray;
  z-index: 999;
  &__item {
    width: 100%;
    font-size: 12px;
    color: $lighter-black;
    &:hover {
      color: $yellow;
    }
    &--active {
      color: $dark-yellow;
      font-weight: 600;
    }
    svg {
      width: 20px;
      height: 20px;
    }
  }
}
