.hero {
  @include breakpoint-down(lg) {
    flex-direction: column !important;
  }

  &__image {
    width: 100%;
    min-height: 280px;
    border: 1px solid $quill-gray;
    @include breakpoint-up(lg) {
      max-width: 304px;
      height: 304px;
    }
  }
}

.popular-articles {
  margin: -16px 0 0 -32px;
  width: calc(100% + 32px) !important;
  &__item {
    margin: 32px 0 0 32px;
    flex: 1 1 calc(100% - 32px);

    @include breakpoint-up(md) {
      flex: 1 1 calc(100% / 2 - 32px);
      // &:nth-child(1) {
      //   flex: 1 1 calc(100% - 32px);
      // }
    }
    @include breakpoint-up(lg) {
      flex: 1 1 calc(100% / 3 - 32px) !important;
      // &:nth-child(1) {
      //   flex: 1 1 calc(100% - 32px);
      // }

      // &:nth-child(5),
      // &:nth-child(6) {
      //   flex: 1 1 calc(100% / 2 - 32px) !important;
      // }
    }
  }
}

.collaboration {
  border-radius: 4px;
  @include breakpoint-down(lg) {
    flex-direction: column;
    h3 {
      text-align: center;
    }
  }

  @media (max-width: 410px) {
    &__cta {
      flex-direction: column;
      a,
      button {
        width: 100%;
      }
    }
  }
}
