.article-content {
  @include breakpoint-down(lg) {
    flex-direction: column-reverse;
  }
  &__left {
    width: 100%;
    @include breakpoint-up(lg) {
      max-width: 304px;
    }
  }
  &__info {
    ul {
      padding: 0;
      margin-left: 0;
      li {
        list-style: none;
        padding: 0;
        a {
          color: $lighter-black;
          font-weight: 300;
          border-bottom: 0.04px solid $lighter-black;
          &:hover {
            color: $black;
          }
        }
      }
    }
    @include breakpoint-up(lg) {
      position: -webkit-sticky !important;
      position: sticky !important;
      top: 128px;
    }
  }
}
