*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: white;
  // text-decoration: none;
}

hr {
  border: none;
  border-top: 1px solid $darkgray;
}

.uppercase {
  text-transform: uppercase;
}

html,
body {
  background: $dark;
  color: white !important;
  padding: 0;
  margin: 0;
}
