$slategray: #738a94;
$gray: #c4c4c4;
$blue: #3db1ee;
$gold: #fecd35;
$light: #ffffff;
$dark: #1a1c21;
$black: #090a0b;

// screen media
$media-sm: 576px;
$media-md: 768px;
$media-lg: 992px;
$media-xl: 1200px;
